<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turkcell.gelecegiyazanlar" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

    <permission
        android:name="com.turkcell.curiosample.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.turkcell.curiosample.permission.C2D_MESSAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.EgitimBaslikActivity"
            android:label="Eğitim" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.EgitimIcerikActivity"
            android:label="Eğitim İçerik Sayfası" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.ProfilActivity"
            android:label="Profil" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.AramaActivity"
            android:label="@string/title_activity_arama" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.YorumActivity"
            android:label="@string/title_activity_yorum" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.EtkinlikIcerikActivity"
            android:label="@string/title_activity_etkinlik_icerik" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ActivityPaketi.BlogIcerikAcitivity"
            android:label="@string/title_activity_blog_icerik_acitivity" >
        </activity>

        <receiver
            android:name=".PushNotificationBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.turkcell.curiosample" />
            </intent-filter>
        </receiver>

        <service android:name=".PushNotificationIntentService" />
    </application>

</manifest>
